/*---------------------------------------------------------*/

@font-face {
    font-family: matic;
    src: url(../font/Acmatic-Personal.otf);
}

@font-face{
    font-family: classic;
    src: url(../font/classic.ttf);
}

@font-face{
    font-family: classic-gras;
    src: url(../font/classic-gras.ttf);
}

@font-face{
    font-family: avalon;
    src: url(../font/Avalon.ttf);
}

@font-face {
    font-family: rosa;
    src: url(../font/castameresansregular.ttf);
 }

/*------------------- BODY - HEADER -------------------------*/

body{
    background-color: #00081f; 
}

header{
    height: 100px;
    background-image: url(../img/bannier.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

/*---------- <h> <p> <span> ----------*/

h1{
    text-align: center;
    font-family: matic;
    font-size: 5rem;
    color: #2d7097;
    text-shadow: 1px 1px 2px white
}

h2{
    color: #48b6f5;
}

.h3-orange{
    font-family: rosa;
    color: #f05901;
    font-size: 2.5rem;
    text-align: center;
    text-shadow: 1px 1px 1px  white;
    letter-spacing: 2px;
}

.span-blue-light{
    color: #48b6f5;
    margin-right: 10px;  
}

.span-orange{
    color: #fd7e14;
    margin-right: 10px;  
}

.span-nav{
    font-family: avalon;
    font-size: 1.5rem;
    color: white;
    text-shadow: 1px 1px 1px rgb(92, 87, 87);
}

.p-text{
    margin-top: 5px;
    padding: 0;
    color: white;
    font-size: 1.5rem;
    font-family: rosa;
}

/*------------------------ NAV-BAR --------------------------*/

.container-contact{
    display: flex;
    justify-content: center;
}

.navbar{
    background-color: #001d4e; 
}

.div-navbar{
    display: flex ;
    justify-content: center;
}

.navbar a{
    font-family: avalon;
    font-size: 1.5rem;
    color: #48b6f5 !important;
    text-shadow: 1px 1px 1px rgb(92, 87, 87);
}

li a:hover{
    background-color: #00081f; 
    color: #00163d;
    padding: 5px;
    border-radius: 5px;
}

/*----------- PROFIL ------------*/

.article-text-profil{
    text-align: center;
}

.article-profil-img-1{
    padding: 20px;
    text-align: start;
}

.img-moi{
    border:solid 1px #00081f;
    border-radius: 5px;
}

.article-profil-img-2{
    text-align: end;
}

/*---------- FORMATIONS ----------*/

.article-formations-img-1{
    text-align: start;
}

.article-text-formations{
    text-align: center;
}

.p-text-formations{
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
    font-family: rosa;
}

.article-formations-img-2{
    text-align: end;
}

/*---------- COMPETENCES ----------*/

.article-competences-img-1{
    text-align: start;
}

.article-text-competences{
    text-align: center;
}

.p-text-sm{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 1.5rem;
    font-family: rosa;
}

.article-competences-img-2{
    text-align: end;
}

/*- IMG CACHER -*/
.img-competences-center{
    display: none;  
}

/*--------- EXPERIENCES ---------*/

.article-experiences-img-1{
    margin-top: 5px;
    text-align: start;
}

.article-text-experiences{
    margin-top: 100px;
    text-align: center;
}

.p-text-experiences{
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
    font-family: rosa;
}

.article-experiences-img-2{
    margin-top: 50px;
    text-align: end;
}

/*----------- LOISIRS ------------*/

.article-loisirs-img-1{
    text-align: start;
}

.article-text-loisirs{
    margin-bottom: 50px;
    text-align: center;
}

.p-text-loisirs{
    color: white;
    font-size: 1.5rem;
    font-family: rosa;
}

.article-loisirs-img-2{
    text-align: end;
}

/*----------- CONTACT ------------*/

.article-text-contact{
    margin-top: 40px;
    text-align: center;
}

.p-text-contact{
    margin-top: 10px;
    color: white;
    font-size: 1.5rem;
    font-family: rosa;
}

/*----------------------BOUTON---------------------------------------*/

.div-btn{
    margin-top: 5px;
  }
  
  .btn {
      font-family: rosa;
      background-color: white;
      border: solid 1px #48b6f5;
      padding: 0.2rem;
      margin-top: 30px;
      display: block;
      transition: background 1s;
      border-radius: 5px;
  }
  
  .btn:hover{
      background-color: rgb(182, 182, 182);
  }
  
  /*----------------<LOGOS-RESEAUX-SOCIAUX---------------------------------*/
  
  .div-logos-reseaux{
      display: flex;
      justify-content:center;
  }
  
  .logo1{
      margin-top: 6px;
  }
  





